<!DOCTYPE html>
<html>
<head>
	<title>Lord Brianus's - DM Tools</title>
	<link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css'>
	<link rel="shortcut icon" href="http://d1ujqdpfgkvqfi.cloudfront.net/favicon-generator/htdocs/favicons/2015-01-22/f78bc6737ffceffacd3c0b0a35bce6a5.ico">
	<link rel='stylesheet' type='text/css' href='/style/style.css'>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js'></script>

</head>
<body>
	<div class="ui centered grid" style=''>
	    <div class="center aligned column">
	    	<!-- NAV MENU -->
			<!--<div class="ui secondary pointing menu"> 
				<div class='ui container'>
			  	<a class="red item">
			    Chapters
			  	</a>
			  	<a class="active blue item" href='/characters'>
			    Characters
			 	</a>
			  	<a class="green item">
			    Tools
			  	</a>
			  	<div class="right menu">
			    	<a class="ui item">
			     	 Logout
			    	</a>
		  		</div>
		  	</div>
			</div> <!--- END NAV MENU -->
			<div class="ui fixed menu">
				<div class='ui container'>
		  			<a class="item red" href='/characters' id='characters-link'>Characters</a>
				    <a class="item blue" id='chapters-link'>Chapters</a>
				    <a class='item green' id='tools-link'>Tools</a>
		  			<div class="right menu">
		    			<a class="item">Login</a>
		    			<a class="item">Logout</a>
		  			</div>
	  			</div>
			</div>
		</div>
	</div>